*{
  box-sizing: border-box;
}

:root {
	font-family: 'Open Sans', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--primary-color:  #3B4CCA;
	--background-color: #FFDE00;
	--secondary-color: #B3A125;
	--heading-color:  #CC0000;
  --border-color: #20296F;
	--text-color: #444444;
	--nav-text-color: #ccc;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--sidebar-width: 275px;
  /*Pokemon Typing Colors*/
  --normal: #A8A878;
  --fighting: #C03028;
  --flying: #A890F0;
  --poison: #A040A0;
  --ground: #E0C068;
  --rock: #B8A038;
  --bug: #A8B820;
  --ghost: #705898;
  --steel: #B8B8D0;
  --fire: #F08030;
  --water: #6890F0;
  --grass: #78C850;
  --electric: #F8D030;
  --psychic: #F85888;
  --ice: #98D8D8;
  --dragon: #7038F8;
  --dark: #705848;
  --fairy: #EE99AC;
}

/******************************************
/* LAYOUT
/*******************************************/
header, .main {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  margin: 20px;
}

input{
  height: 2rem;
  margin-top: 25px;
}

.main{
  flex-direction: column;
}

button {
  margin: 5px;
  width: 5rem;
  background-color: var(--border-color);
  color: var(--background-color);
  border-radius: 5px;
}

body{
  background-color: var(--primary-color);
  color: white;
}

#pokephoto {
  display: block;
  margin: 0 auto;
}

.type1, .name, .ability {
  text-transform:capitalize; /*Capitalizes first letter of word*/
}

.hidden {
  visibility: hidden;
}

.card1 {
  margin-top: 25px;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: var(--heading-color);
  border-radius: 10px;
  border: 3px solid var(--border-color);
  padding: 5px 10px;
  color: white;
}

.card1-left {
  background-color: hsla(0, 0%, 0%, 15%);
  border-radius: 5px;
  padding: 3px 15px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
}

p {
	font-weight: 400;
	line-height: 1.5;
}

a {
	color: var(--primary-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}